{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Mikey Mouse</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam sit possimus reiciendis aliquid praesentium quidem excepturi. Eveniet fugit itaque quasi, quidem tempora alias reiciendis sed est, qui deserunt, eum ut!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/images1.png" class="img-thumbnail">
    </div>

</div>



{{> footer }}